/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: #000;
	--black-color-10: #2c2832;
	--primary-color: #f5d900;
	--secondary-color: #d5a475;
	--white-color-00: #fff;

	/* Font Family */
	--title-ff: 'Sigmar', sans-serif;
	--text-ff: 'Roboto', sans-serif;

	/* Font Wight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;

	/* Font Size */
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xl-fs: 1.85rem;
	--xxl-fs: 2.75rem;

	/* Border Radius */
	--btn-radius: 1.5rem;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.85rem;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white-color-00);
	font-family: var(--text-ff);
}

:is(h1, h2, h3, h4, h5) {
	font-family: var(--title-ff);
	font-weight: var(--normal-fw);
	color: var(--secondary-color);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.logo img {
	width: 50px;
	opacity: 0.75;
}

/***************** NAVBAR *******************/
#navbar {
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.05);
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.navbar-menu {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.navbar-link {
	font-weight: var(--medium-fw);
	font-size: var(--base-fs);
	color: var(--black-color-10);
	transition: color 0.36s ease-in-out;
	text-transform: uppercase;
}

.navbar-link:hover {
	color: var(--black-color-00);
}
/************** End of NAVBAR ***************/

/***************** BANNER *******************/
/* TODO: Create BANNER style */
/************** End of BANNER ***************/
