/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: #000;
	--black-color-10: #2c2832;
	--primary-color: #f5d900;
	--secondary-color: #d5a475;
	--white-color-00: #fff;

	/* Font Family */
	--title-ff: 'Sigmar', sans-serif;
	--text-ff: 'Roboto', sans-serif;

	/* Font Wight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;

	/* Font Size */
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xl-fs: 1.85rem;
	--xxl-fs: 2.75rem;

	/* Border Radius */
	--btn-radius: 1.5rem;
	--circle-radius: 50%;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.85rem;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white-color-00);
	font-family: var(--text-ff);
}

:is(h1, h2, h3, h4, h5) {
	font-family: var(--title-ff);
	font-weight: var(--normal-fw);
	color: var(--secondary-color);
}

a {
	text-decoration: none;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.logo img {
	width: 50px;
	opacity: 0.75;
}

.btn {
	border: 3px solid transparent;
	border-radius: var(--btn-radius);
	padding: 0.85rem 1.85rem;
	font-weight: var(--medium-fw);
	font-size: var(--lg-fs);
	transition: 0.45s ease-in-out;
	text-transform: capitalize;
}

/***************** NAVBAR *******************/
#navbar {
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.05);
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.navbar-menu {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.navbar-link {
	font-weight: var(--medium-fw);
	font-size: var(--base-fs);
	color: var(--black-color-10);
	transition: color 0.36s ease-in-out;
	text-transform: uppercase;
}

.navbar-link:hover {
	color: var(--black-color-00);
}
/************** End of NAVBAR ***************/

/***************** BANNER *******************/
.banner-content {
	min-height: calc(100vh - 80px);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2.75rem;
	align-items: center;
}

.banner-title,
.banner-subtitle {
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.banner-title {
	font-size: var(--xxl-fs);
	text-transform: uppercase;
}

.banner-subtitle {
	font-size: var(--xl-fs);
	color: var(--black-color-10);
	text-transform: capitalize;
	margin-top: -0.75rem;
	margin-bottom: 1.5rem;
}

.banner-links {
	display: flex;
	align-items: center;
	gap: 1.75rem;
}

.primary-btn {
	background-color: var(--primary-color);
	color: var(--white-color-00);
}

.secondary-btn {
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.primary-btn:hover {
	background-color: transparent;
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.secondary-btn:hover {
	background-color: var(--primary-color);
	color: var(--white-color-00);
}

.banner-image {
	position: relative;
}

.banner-image img {
	filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.25));
	z-index: 0;
}

.banner-image::after,
.banner-image::before {
	z-index: 10;
	position: absolute;
	content: '';
	width: 80%;
	height: 80%;
	border-radius: var(--circle-radius);
	background-color: var(--white-color-00);
	filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.03));
}

.banner-image::after {
	bottom: -70%;
	right: 30%;
}

.banner-image::before {
	right: 1rem;
	bottom: -75%;
	right: -5%;
}
/************** End of BANNER ***************/
